---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
---

<BaseLayout title='Blog'>
  <main class='px-32'>
    <h1 class='flex text-4xl md:text-6xl text-bmBlue-500'>
      {
        "Blog".split("").map((letter) => {
          return (
            <span class='hover:text-bmPink-500 duration-300 ease-in-out'>
              {letter}
            </span>
          );
        })
      }
    </h1>
    <h2 class='text-bmBlue-400 font-semibold'>See what's happening</h2>
    <div class='grid grid-cols-3 gap-8 mt-8'>
      <!-- {
        posts.map((post) => {
          return (
            <BlogCard
              title={post.frontmatter.title}
              publishDate={post.frontmatter.pubDate}
              slug={post.url!}
              author={post.frontmatter.author}
            />
          );
        })
      } -->
    </div>
  </main>
</BaseLayout>
