---
import { Image } from "astro:assets";

import Founders from "../assets/FOUNDERS.jpeg";
import Bar from "../assets/BAR.png";

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
---

<BaseLayout title='BarMates'>
  <!-- Hero -->
  <Hero client:load />

  <!-- Founders -->
  <div
    class='grid grid-rows-2 md:grid-rows-none md:grid-cols-2 text-bmBlue1'
    id='about'
  >
    <div class='flex flex-col justify-center p-2 md:p-8'>
      <h1 class='mx-auto my-2 md:my-4 text-4xl font-black font-[Montserrat]'>
        The Founders
      </h1>
      <Image
        src={Founders}
        alt='founders'
        class='rounded-3xl w-[75%] md:w-[50%] mx-auto'
      />
    </div>
    <div class='p-8 flex'>
      <p class='my-auto text-lg md:text-xl'>
        We (Marko and Neville) are two 16 year old students from Zurich,
        Switzerland. We are rowing athletes at the Belvoir Rowing Club Zurich.
        We love protein and energy bars. <br />
        While Marko is busy building our reach and community, Neville is doing all
        the design work and logistics for the business, like package designing, manufacture
        of the bars or web designing.
      </p>
    </div>
  </div>

  <!-- Company -->
  <div
    class='grid grid-rows-2 md:grid-rows-none md:grid-cols-2 text-bmPink1'
    id='about'
  >
    <div class='flex flex-col justify-center p-2 md:p-8'>
      <h1 class='mx-auto my-2 md:my-4 text-4xl font-black font-[Montserrat]'>
        The Company
      </h1>
      <Image
        src={Bar}
        alt='founders'
        class='rounded-3xl w-[75%] md:w-[50%] mx-auto'
      />
    </div>
    <div class='p-8 flex'>
      <p class='my-auto text-lg md:text-xl'>
        <span
          class='font-[Montserrat] font-bold hover:text-bmBlue1 duration-300'
        >
          BarMates
        </span>{" "}
        was founded 2023 in Zurich, Switzerland. We figured, that there were no 'perfect'
        bars, so we went ahead and created our own.
      </p>
    </div>
  </div>
</BaseLayout>
