---
import Founders from "../assets/FOUNDERS.jpeg";
import Bar from "../assets/BAR.png";
import Eljas from "../assets/ELJAS.jpg";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='Home'>
  <!-- Hero -->
  <div class='h-[90dvh] hero flex flex-col text-center'>
    <div class='mx-auto my-auto'>
      <h1 class='text-secondary flex justify-center'>
        {
          "BarMates".split("").map((letter, index) => {
            return (
              <span class='hover:text-primary duration-300 ease-in-out text-6xl md:text-9xl'>
                {letter}
              </span>
            );
          })
        }
      </h1>
      <p class='text-primary font-bold text-sm md:text-3xl'>
        Innovative bars made in Switzerland
      </p>
    </div>
    <a href='#about' class='text-primary mb-8 group mx-auto'>
      <p class='md:text-xl font-bold duration-200'>Find out more!</p>
      <i
        class='fa-solid fa-chevron-down text-2xl md:text-4xl group-hover:translate-y-2 duration-200 ease-in-out'
      ></i>
    </a>
  </div>

  <!-- Founders -->
  <div
    class='grid grid-rows-2 md:grid-rows-none md:grid-cols-2 text-primary'
    id='about'
  >
    <div class='flex flex-col justify-center p-2 md:p-8'>
      <h1 class='mx-auto my-2 md:my-4'>The Founders</h1>
      <div class='carousel rounded-3xl w-[75%] md:w-[50%] mx-auto'>
        <div class='carousel-item w-full'>
          <img src={Founders.src} alt='founders' />
        </div>
        <div class='carousel-item w-full'>
          <img src={Eljas.src} alt='founders' />
        </div>
      </div>
    </div>
    <div class='p-8 flex prose-p'>
      <div class='my-auto text-lg md:text-xl prose'>
        <p>
          We, Marko and Neville, are two 16-year-old students from Zurich,
          Switzerland. We are rowers at Belvoir Rowing Club Zurich. We love
          Protein and energy bars.
        </p>
        <p>
          While Marko is busy building our reach, community and marketing,
          Neville is responsible for Neville is responsible for design and
          software development.
        </p>
        <p>
          Eljas is the newest member of our team. His skills are strategic
          thinking and is responsible for logistical and legal decisions.
        </p>
      </div>
    </div>
  </div>

  <!-- Company -->
  <div
    class='grid grid-rows-2 md:grid-rows-none md:grid-cols-2 text-secondary'
    id='about'
  >
    <div class='flex flex-col justify-center p-2 md:p-8'>
      <h1 class='mx-auto my-2 md:my-4'>The Company</h1>
      <img src={Bar.src} alt='founders' class='w-[75%] md:w-[50%] mx-auto' />
    </div>
    <div class='p-8 flex'>
      <p class='my-auto text-lg md:text-xl prose'>
        <span
          class='font-[Montserrat] font-bold hover:text-primary duration-300'
        >
          BarMates
        </span>{" "}
        was founded in 2023 in Zurich, Switzerland. Our mission is to create the
        perfect and healthy energy bar. Find out more on our <a href='/mission'
          >mission</a
        > page
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  h1 {
    @apply text-4xl;
  }
</style>
