---
declare interface Props {
  title: string;
  publishDate: Date;
  content: string;
}

const { title, publishDate, content } = Astro.props;
---

<div class='card'>
  <h1 class='text-bmBlue-500 text-xl'>{title}</h1>
  <h3 class='text-bmBlue-300'>
    {
      publishDate.toLocaleString([], {
        dateStyle: "medium",
      })
    }
  </h3>
  <p class='text-bmBlue-400 pt-4 font-bold'>
    {content.substring(0, 20)}...
  </p>
</div>
