---
import Bar from "../assets/BAR.png";

const founders: founder[] = [
  {
    name: "Neville",
    link: "nevillebrem",
  },
  {
    name: "Marko",
    link: "marking27",
  },
  {
    name: "Eljas",
    link: "elb4s",
  },
];
---

<footer>
  <div class='grid md:grid-flow-col grid-flow-row text-secondary p-4 md:pt-10'>
    <div
      class='text-center md:text-left flex flex-col md:flex-row gap-4 justify-center mb-2 md:mb-0'
    >
      <img src={Bar.src} alt='barmates logo' class='h-32 hidden md:block' />
      <div class='mx-auto md:mx-0 md:my-auto'>
        <h1 class='flex text-4xl md:text-6xl'>
          {
            "BarMates".split("").map((letter) => {
              return (
                <span class='hover:text-secondary duration-300 ease-in-out'>
                  {letter}
                </span>
              );
            })
          }
        </h1>
        <p class='font-semibold'>Zurich, Switzerland</p>
      </div>
    </div>
    <div class='grid grid-flow-col text-lg justify-center gap-16'>
      <div>
        <h1>Founders</h1>
        <ul class='font-semibold text-secondary-400'>
          {
            founders.map((founder) => {
              return (
                <li>
                  <a
                    href={`https://instagram.com/${founder.link}`}
                    target='_blank'
                  >
                    {founder.name}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>

      <div>
        <h1>Social</h1>
        <ul class='font-semibold text-secondary-400'>
          <li>
            <a href='https://instagram.com/barmates_official' target='_blank'
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div
  class='text-center py-1 border-t border-secondary-200 font-bold font-[Montserrat] text-secondary'
>
  <a href='https://github.com/nevthereal/barmates'>© Neville Brem 2023</a>
</div>
