---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={`Blog ${frontmatter.title}`}>
  <main class='mt-16 mx-auto prose'>
    <slot />
  </main>
</BaseLayout>
